<!doctype html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Коментарі Flask</title>
</head>
<body>
    <h1>Коментарі</h1>

    <h2>1. Server-side render</h2>

    <form method="POST" action="/comments/ssr">
        <input name="text" placeholder="Коментар через SSR">
        <button type="submit">Надіслати</button>
    </form>

    <h2>2. Client-side render через JSON</h2>

    <form id="csr-form">
        <input id="csr-input" placeholder="Коментар через JSON">
        <button type="submit">Надіслати</button>
    </form>

    <h2>Список коментарів</h2>

    <ul id="comments-list">
        {% for comment in comments %}
            <li>{{ comment }}</li>
        {% endfor %}
    </ul>

    <script>
        const form = document.getElementById("csr-form");
        const input = document.getElementById("csr-input");
        const list = document.getElementById("comments-list");

        form.addEventListener("submit", async function(event) {
            event.preventDefault();

            const text = input.value.trim();

            if (!text) {
                return;
            }
            console.log("before fetch")
            const response = await fetch("/comments/csr", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ text: text })
            });
            console.log("after fetch")
            const data = await response.json();

            const li = document.createElement("li");
            li.textContent = data.comment;
            list.appendChild(li);

            input.value = "";
        });
    </script>
</body>
</html>